<main class="row small-collapse large-collapse">
  <div class="small-12 large-8 columns">
    <% if @images && @headlines %>
      <%= render "images" %>
      <%= render "headlines"%>
    <% elsif @headlines %>
      <%= render "headlines" %>
    <% elsif @images %>
      <%= render "images" %>
      <%= render "standard_info" %>
    <% else %>
      <%= render "standard_info" %>
    <% end %>
  </div>
  
  <% if @meet.nil? || @meet.gender == "female" %>
    <%= render "womens_twitter" %>
  <% else %>
    <%= render "mens_twitter" %>
  <% end %>
</main>
