<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @page.title + ' | ' if @page.permalink != "home" %>Cal Benefit Cup</title>

    <%= stylesheet_link_tag    "application"  %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head> 

  <body>
    <%= render "shared/menu" %>
    
    <div class="canvas">
      <%= render "shared/mast" %>
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
